{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="card p-5q">
    <div class="media">
        <img src="{{ user.profile.image.url  }}" alt="" class="rounded-circle">
        <div>
            <h2 class="account-heading">{{user.username}}</h2>
            <p class="text-secondary">{{user.email}}</p>
        </div>
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-botton mb-4">Profile Info
                {{ u_form|crispy  }}
                {{ p_form|crispy  }}
            </legend>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
</div>

<div>


    {% for post in posts %}
    {{ post.post_heading}}<br>
    {{ post.post_text}}<br>
    {{ post.date_posted}}<br>
    <a class="btn btn info" href="{% url 'post-detail' post.id %}">Options</a><br>
    {% endfor %}



</div>

{% endblock %}